#title{
  font-family: 'Comfortaa', cursive;
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(73, 73, 73) ;
  width: 400px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
}

body{
  background-color: rgb(21, 18, 22);
}
.center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2{
  color: rgb(92, 0, 92);
}
.box1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.backgroundcolor{
  background-color: orange;
}
.white{
  color: white;
}
.rosa{
  color: red;
}
h1{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
h3{
  color: rgb(92, 0, 92);
}
#purple{
  color:rgb(92, 0, 92);
  font-size: 55px;
}
p {
      font-color: blue;
      font-size: 12pt;
      text-shadow: 5px 5px 5px purple;
}